@import url(font.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main {
    font-family: "Exo 2", sans-serif;
  }

  .tabs .active {
    background: #78a0d1;
    color: #ffffff;
    text-shadow: none;
  }
}

@layer utilities {
  .font-condensed {
    font-stretch: condensed;
  }
  .font-expanded {
    font-stretch: expanded;
  }
}